@font-face {
    font-family: "theDeadSaloon";
    src: url("/fonts/thedeadsaloon-Regular.ttf");
}

$headingFont: 'theDeadSaloon', serif;
$bodyFont: 'Open Sans', sans-serif;




body {
    font-family: $bodyFont;
    background-color: white;
}

header {
    max-width: 100%;
    text-align: center;

	background-image: url("/images/meetbjdcoverbw.png");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
	background-size: auto 500px;
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	position: relative;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}



.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background: rgba(255,255,255,.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    & svg {
        fill: black;
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    &__logo-link {
        text-decoration: none;
        height: 45px;
    }

    &__logo {
        height: 45px;
        margin-right: 10px;
    }

    &__name {
        font-family: $headingFont;
    }
}

.nav {
    display: inline-block;
    margin-right: 10px;

    &--mobile {
        display: none;
    }

    &__menuIcon {
        float: right;
    }

    &__item-list {
        list-style: none;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    &__item {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 2px;

        &:hover {
            cursor: pointer;
            border-bottom: 2px solid white;
            margin-bottom: 0px;
        }

        & a {
            color: black;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}

.hero__text-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__heading {
    font-family: $headingFont;
    color: white;
    font-size: 50px;
    margin-top: 20%;
}
.hero__intro {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    width: 85%;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
}

/* Listen block */
.listen {
    text-align: center;

    &__heading {
    font-family: $headingFont;
    font-size: 55px;
    margin-top: 10px;
    }

    &__BCplayer {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        padding: 20px;
    }
}

/* End listen block */


@media screen and (min-width: 775px) {
    header {
        background-size: 100%;
    }
}


@media screen and (max-width: 650px) {
    .hero__heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .hero__intro {
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {
	.menubar {
        align-items: center;
    }
    .nav__item-list {
		max-height: 0;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        text-align: center;
	}
	.showing {
		max-height: 10em;
	}
	.nav__item {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 15px;
        text-align: center;
        background-color: rgba(255,255,255,.3);

        &:hover {
            background-color: rgba(255,255,255,.7);
        }

        & a:hover {
            color: black;
        }
	}
	.nav--mobile {
		display: block;
	}
    .hero__heading {
        font-size: 23px;
    }
    .hero__intro {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 350px) {
    .hero__heading {
        font-size: 20px;
    }
    .hero__intro {
        font-size: 12px;
    }
}

//--End media Queries