//Variables
$mobile-width: 580px;
//--End variables


body {
    font-family: sans-serif;
}

header {
    max-width: 100%;
	height: 670px;
	background-image: url("/images/meetbjdcoverbw.png");
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.4); /* semi-transparent layer */
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
	position: relative;
    background-repeat: no-repeat;
}



.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;

    & svg {
        fill: black;
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    &__logo-link {
        text-decoration: none;
        height: 45px;
    }

    &__logo {
        height: 45px;
        margin-right: 10px;
    }
}

.nav {
    display: inline-block;
    margin-right: 10px;

    &--mobile {
        display: none;
    }

    &__menuIcon {
        float: right;
    }

    &__item-list {
        list-style: none;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    &__item {
        display: inline-block;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }

        & a {
            color: black;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}

//Media Queries
@media screen and (max-width: $mobile-width) {
	.menubar {
        align-items: center;
    }
    .nav__item-list {
		max-height: 0;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        text-align: center;
	}
	.showing {
		max-height: 10em;
	}
	.nav__item {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 15px;
        text-align: center;
        background-color: lightseagreen;

        & a:hover {
            color: black;
        }
	}
	.nav--mobile {
		display: block;
	}
}

//--End media Queries